@import 'src/styles/colors';
@import 'src/styles/functions';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $colorBlackLight;
  color: $colorWhite;
}

::-webkit-scrollbar {
  width: rem(0);
}
